    .dashboardSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 20px;
            background-color: rgba(2550, 255, 255, 0.70);
            color: #012e3f;
            border-radius: 15px;
            text-align: center;
            filter: drop-shadow(5px 5px 5px black);
            h2 {
                    margin-bottom: 10px;
                    font-size: 16pt;
                }
        }
        .userDiv{
            display: flex;
            flex-direction: column;
            width: 75%;
            
        }
        .timersDiv {
            
            
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    font-size: 20px;
                    margin-bottom: 10px;
                    padding: 0px;
                    border: solid #012e3f 3px;
                    border-radius: 50px;
            }
            .timersSubDiv{
                display: flex;
                position: absolute;
                left: 0;
                width: 50px;
            }

            }
        
        .journalsDiv {
            width: 300px;
        }
        .helpersDiv {
            width: 300px;
        }
    }}