.journalSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(2550, 255, 255, 0.70);
    color: #012e3f;
    border-radius: 15px;
    width: 90%;
    filter: drop-shadow(5px 5px 5px black);
    background-color: purple;
    .journalDiv{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px 20px 0px 20px;
        margin-top: 0vh;
        background-color: pink;
        height: fit-content;
        h1 {
                font-size: 34pt;
                line-height: 1;
                margin-top: 0px;
            }

        h2 {
            font-size: 24pt;
            margin: 10px;
        }

        p {
            font-size: 20pt;
        }
    }
}
