.journalSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #012e3f;
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 5px black);

    .journalIndexSection{
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;   
    }
        // h1 {
        //         margin: 10px;
        //         font-size: 20pt;
        //     }

        // h2 {
        //     // font-size: 24pt;
        //     margin: 10px;
        // }

        // p {
        //     font-size: 16pt;
        // }
    }

