.journalSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(2550, 255, 255, 0.70);
    color: #012e3f;
    border-radius: 15px;
    padding: 20px;
    filter: drop-shadow(5px 5px 5px black);
        h1 {
                margin: 10px;
                font-size: 20pt;
            }

        h2 {
            font-size: 24pt;
            margin: 10px;
        }

        p {
            font-size: 16pt;
        }
    }

