.journalIndexSection {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #012e3f;
    font-size: 16pt;
    font-family: Lexend, serif;
    padding-bottom: 0;
    ul {
        display: flex;
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        padding: 10px 8px 0px 8px;
        a {
            text-decoration: none;
            color: #012e3f;
            li {
                list-style: none;
                border: #012e3f solid 3px;
                border-radius: 50px;
                color: white;
                background-color: #012e3f;
                margin: 10px;
                padding: 0 15px;
                
            }

            li:hover {
                color: #012e3f;
                background-color: white;
                border-radius: 20px;
            }
        }

    }
}