    .journalFormSection {
                    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            label {
                h1 {
                        margin: 0 0 5px 0;
                    }
            }
            textarea{
                display: flex;
                justify-content: center;
                width: 80%;
                font-size: 14pt;
                padding: 3px 10px;
                margin-top: 0;
                border-radius: 20px;
                border: #012e3f solid 3px;
            }
            button {
                margin: 15px 10px 0px 10px;
                padding: 5px 20px;
                font-size: 1rem;
                background-color: #012e3f;
                color: white;
                border-radius: 15px;
                text-decoration: none;
                font-family: "Lexend", serif;
                width: 80%;
                cursor: pointer;
            }
            button:hover{
                background-color: white;
                color: #012e3f;
                font-weight: bold;
            }
        }
    }