.navContainer{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    h1 {
        position: absolute;
        top: 3.5vh;
        left: 40px;
        color: white;
        font-family: "Noto Sans Display", serif;
        font-size: 10vh;
        font-weight: 500;
        font-style: normal;
        filter: drop-shadow(3px 3px 2px #000000);
        z-index: 1;
        }
    nav{
        display: flex;
        justify-content: space-between;
        background: #1F6E8D;
        background: linear-gradient(106deg, rgba(31, 110, 141, 1) 16%, rgba(10, 144, 154, 1) 100%);
        box-shadow: inset;
        width: 100%;
        height: 25vh;
        filter: drop-shadow(5px 5px 10px #000000);

        ul{
            display: flex;
            position: absolute;
            right: 0;

            li{
                display: flex;
                margin-right: 40px;
                width: fit-content;
                list-style: none;
                
                a{
                    justify-content: space-between;
                    font-size: 26px;
                    color: white;
                    text-decoration: none;
                    font-family: "Lexend", serif;
                    filter: drop-shadow(3px 3px 2px #000000);
                }
            }
        }
    }
    .menu {
        display: none;
        position: absolute;
        top: 0.75rem;
        right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 2rem;
        z-index: 3;

        span {
            height: 0.4rem;
            width: 100%;
            background-color: #ffffff;
            border-radius: 0.2rem;
        }
        span.clicked:nth-child(1){
            transform: roate(45deg) translate(0.75em, 1.25em);
            transition: ease-out 0.5s;
        }
        span.clicked:nth-child(2) {
            transform: scale(0.1);
            transition: ease-out 0.5s;
        }
        span.clicked:nth-child(3) {
            transform: roate(125deg) translate(-0.5em, 1em);
            transition: ease-out 0.5s;
        }

        span.unclicked{
            transform: rotate(0) translate(0);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }

    }
    @media (max-width: 790px) {
        .menu {
            display: flex
        }

        nav {
            flex-direction: column;
        }

        nav ul {
            display: none;
            flex-direction: column;
            margin-bottom: 0.25rem;
            
        }

        nav ul.open {
            display: flex;
            position: absolute;
            top: 22vh;
            width: 100vw;
            text-align: center;
            background-color: white;
            
            
        }

        nav ul li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            
        }

        nav ul li a {
            margin: 0.2rem 0.5rem;
            color: #1F6E8D;
            filter: none;
            font-size: 26px;
            font-family: "Lexend", serif;
            font-weight: 700;
            filter:drop-shadow(1px 1px 1px black)
            
        }
    }
}