.navSection{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height:25vh;
    background: linear-gradient(106deg, rgba(31, 110, 141, 1) 16%, rgba(10, 144, 154, 1) 100%);
    filter: drop-shadow(5px 5px 10px #000000);

    .hamburgerWrapper {
            display: none;
        }
    h1 {
        margin: 0px 0px 0px 30px;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-items: flex-end;
        color: white;
        font-family: "Noto Sans Display", serif;
        font-size: 15vw;
        font-weight: 500;
        font-style: normal;
        filter: drop-shadow(3px 3px 2px #000000);
        }
    nav{
        display: flex;
        ul{
            display: flex;
            position: absolute;
            right: 0;
            top: 0;

            li{
                display: flex;
                margin-right: 40px;
                width: fit-content;
                list-style: none;
                
                a{
                    justify-content: space-between;
                    font-size: 26px;
                    color: white;
                    text-decoration: none;
                    font-family: "Lexend", serif;
                    filter: drop-shadow(3px 3px 2px #000000);
                }
            }
        }
    }
    .menu {
        display: none;
        position: absolute;
        top: 0.75rem;
        right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 2rem;
        z-index: 3;

    }
    @media (min-width: 100px) {
            h1 {
                position: absolute;
                font-size: 50pt;
                left: 10px;
            }
    }

    @media (max-height: 600px) {
        h1 {
            font-size: 10vh;
            bottom: 10px;
        }
    }
    @media (max-height: 450px) {
        h1 {
                display: none;
            }
        }
    

    @media (max-width: 790px) {
        .hamburgerWrapper{
            display: flex;
        }
        .menu {
            display: flex
        }

        nav {
            flex-direction: column;
        }

        nav ul {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-100%);
            flex-direction: column;
            margin-bottom: 0.25rem;
            position: absolute;
            width: 100%;
            line-height: 1.5;
            text-align: center;
            background-color: white;
            transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, visibility 0.6s;


            
        }

        nav ul.open {
            visibility: visible;
            opacity: 1;
            position: absolute;
            padding-top: 30px;
            padding-bottom: 30px;
            top: 22vh;
            width: 100%;
            line-height: 1.5;
            text-align: center;
            background-color: white;
            transform: translateY(0); // Slide into view
            opacity: 1; // Fully visible
            
        }

        nav ul li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            
        }

        nav ul li a {
            margin: 0.2rem 0.5rem;
            color: #012e3f;
            filter: none;
            font-size: 26px;
            font-family: "Lexend", serif;
            font-weight: 700;
            filter:drop-shadow(1px 1px 1px black)
            
        }
    }
}