body{
    background-image: url("public/images/wooden-dock-lake-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    main{
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        justify-content: center;
        align-items: center;
        color: #012e3f;
        h1{
            font-family: "Noto Sans Display", serif;
        }
        h2{
            font-family: "Lexend", serif;
        }
        p{
            font-family: "Lexend", serif;
        }
        }
}