.appWrapper {
    min-height: 100vh;
    background: url('/images/wooden-dock-lake-image.webp') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}
.fullWidthHeader {
    width: 100%; 
}

.footerNav {
    height: 60px;
    margin-top: auto;
}

.appSection {//Space betwee header and content.
    padding-top: 7rem;

    @media (min-width: 790px) {
        padding-top: 8rem; // slightly more for desktop header
    } 
}

