.appWrapper {
    min-height: 100vh;
    background: url('/images/wooden-dock-lake-image.webp') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}
.fullWidthHeader {
    width: 100%; 
}

// .pageCard {
//     background: rgba(255, 255, 255, 0.2); // more transparent
//     backdrop-filter: blur(12px);
//     -webkit-backdrop-filter: blur(12px);
//     border-radius: 1rem;
//     padding: 2rem;
//     width: 100%;
//     max-width: 1000px;
//     margin: 2rem auto;
//     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     color: var(--text-dark); 
// }

.footerNav {
    height: 60px;
    margin-top: auto;
}

.appSection {//Space betwee header and content.
    padding-top: 3rem;

    @media (min-width: 790px) {
        padding-top: 4rem; // slightly more for desktop header
    } 
}

